.change__password {
  background-color: $uploadBg;
  width: 80%;
  margin: 0px auto;
  padding: 10px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      width: 50vw;
      text-align: center;
      height: 4vw;
    }
  }
}
