// TODO : inner contet box set center
// edit file lable size

@import "../config/variable";
.edit__form {
  margin: 0px auto;
  margin-top: 10vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;

  form {
    padding: 2vw;
    background-color: $uploadBg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    & > div:first-child {
      display: grid;
      grid-template:
        "avatar avatar name name name"
        "avatar avatar username username username"
        "avatar avatar location location location"
        "avatar avatar email email email";
      .avatar__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .avatar {
          width: 5vw;
          height: 5vw;
        }
        grid-area: avatar;
        input {
          height: 15vh;
        }
      }

      input[name="name"] {
        grid-area: name;
      }
      input[name="location"] {
        grid-area: location;
      }
      input[name="email"] {
        grid-area: email;
      }
      input[name="username"] {
        grid-area: username;
      }
    }
  }
  input[value="edit"] {
    color: tomato;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
