@import "../config/variable";
.login {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: $inputColor 2px solid;
  border-radius: 20px;
  margin-top: 10vh;
  form {
    margin: 2vw 0px 2vw 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    input {
      width: 80%;
      height: 5vw;
      font-size: 25px;
      font-weight: bold;
    }
    input[value="login"] {
      background-color: white;
      color: tomato;
      border-radius: 5px;
      padding: 0px;
      border: 1px solid white;
    }
    .submit__btn {
      border-radius: 15px;
    }
    div {
      width: 80%;
      span a {
        padding-top: 10vw;
        padding-bottom: 10vw;
      }
      a {
        color: $anchorColor;
      }
    }
  }
}
