@import "../config/variable";
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    input {
      width: 70%;
      height: 6vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
      font-size: 25px;
      font-weight: bold;
    }
    .submit__btn {
      border-radius: 15px;
    }
    div {
      width: 70%;
      span a {
        padding-top: 10vw;
        padding-bottom: 10vw;
      }
      a {
        color: $anchorColor;
      }
    }
  }
}
