@import "./config/_variable";
@import "./config/_reset";

//components

//Screens
 

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $bg
  color:white;
}

//default

a{
    color:inherit;
    text-decoration: none;
}
