mixin avatar(owner)
    if owner.githubLoginOnly === true
        a(href="/users/"+String(owner._id))
            img(src=owner.avatarURL,crossorigin).avatar
    else
        a(href="/users/"+String(owner._id))
            img(src=owner.avatarURL).avatar