doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | webtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            if fakeUser.loggedIn 
                small hello #{fakeUser.name}
            nav 
                ul 
                    if fakeUser.loggedIn
                        li
                            a(href="/logout") Logout
                    else 
                        li 
                            a(href="/login") Login
                    li
                        a(href="/videos/upload") Upload Video
        main 
            block content
    include partials/footer