include mixins/message.pug
doctype html
html(lang="ko")
    head
        title #{pageTitle}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/styles.css")
    body
        if messages.error
            +message("error", messages.error)
        if messages.success
            +message("success", messages.success)
        if messages.info
            +message("info", messages.info)
        include partials/header.pug
        main
            block content
    include partials/footer
    script(src="/assets/js/main.js")
    block script