extends base.pug
block content
    span=errorMessage
    form(method="POST")
        input(name="old_password",type="password", placeholder="old password" )
        input(name="new_password", type="password",placeholder="new password")
        input(name="new_password_confirmation", type="password",placeholder="new password confirmation")
        input(type="submit", value ="change password")