extends base.pug
block content 
    h4 Change title of video
    form(method="POST")
        input(name="title", placeholder="Video title", value = video.title)
        input(value="Save", type = "submit") 