extends base
include mixins/info.pug
include mixins/avatar.pug
block content
    div.user__profile
        div.user__info
            if user.githubLoginOnly === true 
                a(href="/users/"+String(user._id))
                    img(src=user.avatarURL,crossorigin).avatar
            else
                a(href="/users/"+String(user._id))
                    img(src=user.avatarURL,crossorigin).avatar
            h1 #{user.name}
        div.uploaded__sector 
            div
                span Uploaded Videos
            div.profile__videos
                each video in videos
                    +info(video)
            