extends base
include mixins/info
block content
    div.search
        form(method="GET")
            div.search__sector
                input(type="text",placeholder="Search by title" name="keyword")
                input(type="submit")
        div.result__sector
            each video in videos 
                +info(video)
    
    