extends base
include mixins/info
block content
    div.search
        form(method="GET")
            div.search__sector
                input(type="text",placeholder="Search by title" name="keyword")
                input(type="submit", value="search")
        div.result__sector
            if video
                each video in videos 
                    +info(video)
            else
                div No video Found
    