extends base.pug
block content
    div.errormsg
        if errorMsg
            span=errorMsg
    div.upload__video
        h1 Upload Video
        hr
        button#record start record
        video#preview
        form(method="POST", enctype="multipart/form-data")
            div.input__video
                textarea(name="title", required,type="text",placeholder="title(required)", maxlength=80)
                textarea(name="description",required, type="text", placeholder="description", minlength=20)
                textarea(name="hashtags",required,type="text", placeholder="hashtags, seperated by comma")
                div.submit__video
                    label(for="video") Video
                    input(name="video", type="file", required, id="video")
                    label(for="thumb") Thumbnail
                    input(name="thumb", type="file", required, id="thumb")
                    
                input(type="submit", value="Upload")
block script 
    script(src="/assets/js/recorder.js")