extends base.pug
block content
    if errorMsg
        span=errorMsg
    form(method="POST", enctype="multipart/form-data")
        input(name="title", required,type="text",placeholder="title", maxlength=80)
        label(for="video") Video
        input(name="video", type="file", required, id="video")
        input(name="description",required, type="text", placeholder="description", minlength=20)
        input(name="hashtags",required,type="text", placeholder="hashtags, seperated by comma")
        input(type="submit", value="Upload")