extends base.pug
block content
    if errorMsg
        span=errorMsg
    form(method="POST")
        input(name="title", required,type="text",placeholder="title")
        input(name="description",required, type="text", placeholder="description")
        input(name="hashtags",required,type="text", placeholder="hashtags, seperated by comma")
        input(type="submit", value="Upload")